<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="../Content/SiteStyle.css" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../JS/Tools.js"></script>
</head>
<body ng-app="BibleHome">
    <div class="body_style"  ng-controller="HomeController" >
        <div class="Top">
            <div class="Logo">
                <img class="LogoImg" src="../Resource/Images/hellp.jpg" />
            </div>            
        </div>
        <div class="TopBar">
            <a href="HtmlPage1.html"><div class="TopBtn TopBtnColor">s</div></a>
            <a><div class="TopBtn TopBtnColor">s</div></a>
            <a><div class="TopBtn TopBtnColor">s</div></a>
            <a><div class="TopBtn TopBtnColor">s</div></a>
        </div>
        <div class="dropdown" style="float:left; padding:0px"><!--下拉菜单-->
            <div class="btn dropdown-toggle TopBtnColor" id="dropdownMenu1"
                 data-toggle="dropdown" style="height:20px;width:99px; font-size:8px;position:relative; bottom:1px">
                Language
            </div>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">Chinese</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">English</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">
                        English
                    </a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#">分离的链接</a>
                </li>
            </ul>
        </div>      
        <div class="Top" style="overflow:hidden;width:50px;"></div><!--填充剩下的区域-->
        
        <div>
            <img class="BackgroundImg" ng-src="..{{background}}"/>
        </div>
        <div style="width:100%;border:1px solid black;background-color:yellowgreen; "><!--剩下有背景地方的容器-->
            <div style="margin-left:100px;height:100px;margin-bottom:10px ">
                <hi  style="font-size:80px; margin-left:20px">----- Daily Bible Study------</hi>
            </div>
            <div style="height:540px;width:100%;"><!--轮播-->
                <div id="myCarousel"  class="carousel slide BibleStyle" >
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators BibleIndicator"  >
                        <li data-target="#myCarousel" ng-repeat="bible in bibleList|orderBy:'dateWeek'" data-slide-to="{{$index}}" style="width:40px; margin-left:15px" ></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div>
                        <div class="carousel-inner " >
                            <div   class="item BibleContent" ng-repeat="bible in bibleList|orderBy:'dateWeek'"  ng-class="{active:BibleShowList[$index]}">
                                <div class="SinglerBible" style="background-image:url(..{{bible.imagePath}});background-size:cover;">
                                       <div class="SingleBibleContent">
                                           {{bible.content}}
                                       </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                    <!-- 轮播（Carousel）导航 -->
                    <a class="carousel-control left" href="#myCarousel"
                       data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel"
                       data-slide="next">&rsaquo;</a>
                </div>
            </div>
            
        </div>
        <div class="PriestDiv" >
            <div ng-repeat="priest in priestList | orderBy:'name'" class="PriestImageDiv" ng-mouseenter="priestShow($index)" ng-mouseleave="priestShow($index)" >
                <img class="PriestImage" ng-src="..{{priest.photoPath}}" ng-show="PriestShowList[$index]"/>
                <div class="PriestImage" ng-show="!(PriestShowList[$index])">
                    {{priest.thinking}}
                </div>
            </div>
        </div> <!--牧师部分后面做-->
        <footer style="height:200px;border-color:black;border-width:20px;"></footer>
        
    </div>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../JS/Home/Home.js"></script>

</body>
</html>
